{% extends 'main/main_template.html' %}
{% load static %}


{% block content%}
<div class="big-box">
    <h1 class="big-box-text is-center">
        A simple environmental monitoring system.<br>
        For everyone.
    </h1>
</div>
<div class = "box is-center">
  <div class="pure-g">
      <div class="box-1 pure-u-1-3">
        <h2>Easy to use API</h2>
        <ul class="box-list">
            <li>User friendly API</li>
            <li>Simplifield REST protocol</li>
            <li>Low data consumption</li>
        </ul>
      </div>
      <div class="box-2 pure-u-1-3">
        <h2>Open source</h2>
        <ul class="box-list">
            <li>All source avaible</li>
            <li>Full documentation</li>
            <li>Tutorial avaible</li>
        </ul>
      </div>
      <div class="box-3 pure-u-1-3">
         <h2>See the world</h2>
         <ul class="box-list">
             <li>See recent data on global map</li>
             <li>Export data on open format</li>
             <li>Add, remove, modify sensor data</li>
         </ul>
      </div>
  </div>
</div>
{% endblock %}
